#full_page {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#grid {
    display: grid;
    width: 500px;
    height: 500px;
}

#color_changer_btns {
    margin-top: 10px;
}

input {
    width: 60px;
}
